* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --clr-white: #fff;
    --clr-blue:  #2c7ea4;
    --clr-bliue: #01487c;

}

body{
    background-color:#2c7ea4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    background-color: #01487c;
    /* border-radius: 90px; */
}
div {
    /* border-radius: 80px; */
    /* border-top: #01487c; */
}
section {
    flex: content;
    text-align: center;
}
p {
    text-align: center;
}
.informantion-values {
    background-color:#ffff ;
    width: 100%;
    margin: auto;
}
main{
    background-color: #ffffff;
    justify-content: center;
    max-width: 500px;
    height: 20px;
    align-items: center;
}
img{
    width: 20px;
}
.email{
    background-color: #01487c;
}
p{
    text-align: left;
}

